
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
	<title>Redes Sociales</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style>
		.button {
			background-color: #000000; /* Verde */
			border: none;
			color: white;
			padding: 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			width:300px;
		}

		.button4:hover {
			background-color: #4CAF50;
			color: white;
		}
		.button4 {
			border-radius: 12px;
		}
	</style>
</head>
<body>
	<div id="wrapper">
		<div id="main">
			<div>
				<section>
					<div style="text-align:center">
                        <h4 style="color:#4cbece">REDES SOCIALES DE FONTUR</h4>
						<img src="~/images/logo-fontur.png" />
					</div>
					<br />
					<div style="text-align:center">
						<button onclick="window.open('https://twitter.com/FonturOficialve', '_blank');" class="button button4">TWITTER</button><br />
						<button onclick="window.open('https://www.instagram.com/fontur_oficial/', '_blank');" class="button button4">INSTAGRAM</button><br />
						<button onclick="window.open('https://www.facebook.com/FonturOficial', '_blank');" class="button button4">FACEBOOK</button><br />
						<button onclick="window.open('https://www.youtube.com/@@fontur_oficial6979', '_blank');" class="button button4">YOUTUBE</button><br />
						<button onclick="window.open('http://www.fontur.gob.ve', '_blank');" class="button button4">PAGINA WEB</button><br />
					</div>
					<br />
				</section>
			</div>
		</div>
	</div>
</body>
</html>


