@model FichaDescriptivaCargoModel
@{
	Layout = "";
}


<!DOCTYPE HTML>
<html>
<head>
	<title>CERTIFICADO PARA VIAJES INTERNACIONALES</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
				<img src="~/images/logoinh.png" alt="" />
					<br />
					<br />
					<br />
				</div>
			</header>

			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Form -->
					<section>
						<div style="text-align:center">
						<h4 style="color:#4cbece">CERTIFICADO PARA VIAJES INTERNACIONALES </h4>
						<h5 style="color:#4cbece">CERTIFICATE FOR INTERNATIONAL TRAVEL </h5>
						</div>
						<br />
						<strong>Identificación del solicitante: (Applicant identification) </strong><br />
						<span>Nombre: (Name) &nbsp;</span>					
						<span class="title">CARLOS ALBERTO CEBALLOS</span><br />
						<span class="title">Identificación: (Id N°): &nbsp; V- 10.530.364 </span><br />
						<span class="title">Fecha Muestra: (Sample Date): &nbsp; 16/11/2022 </span><br />
					<span class="title">Tipo Muestra: (Sample Type): &nbsp; Hisopado Nasofaringeo (Nasopharyngeal Swab) </span><br />
					<span class="title">Fecha Resultado: (Result Date): &nbsp; 17/11/2022 </span><br />
					<span class="title">Tecnica: (Technique): &nbsp; PCR Tiempo Real (Real Time PCR) </span><br />
					<span class="title">Resultado: (Result): &nbsp; Negativo (Negative) </span><br />
					<span class="title">Virus: (Virus): &nbsp; Coronanavirus </span><br />
						<br />
						<br />
						<br />
						<div class="row gtr-uniform">
							<div id="divGenInvoice" class="col-12">
									<ul class="actions">
									<form action="~/images/10530364.pdf">
										<input type="submit" value="Descargar certificado (Download certificate)"  class="primary"/>
									</form>

									</ul>
							</div>
						</div>
						<br />
					</section>
				</div>
			</div>
		</div>
</body>
</html>


